sudo: required
language: bash
services:
- docker
install: true
before_install:
- openssl aes-256-cbc -K $encrypted_95fa803817dc_key -iv $encrypted_95fa803817dc_iv -in .stuff.tar.gz.enc -out stuff.tar.gz -d
- file stuff.tar.gz
- tar xzvf stuff.tar.gz -C /tmp/
- eval "$(ssh-agent -s)"
- chmod 600 /tmp/stuff/.deploy
- ssh-add /tmp/stuff/.deploy
- mv /tmp/stuff/.host ~/.ssh/config
env:
- MOCK_CONFIG="mageia-cauldron-i586"
- MOCK_CONFIG="mageia-cauldron-x86_64"
script:
- RPM_ARCH=$(echo $MOCK_CONFIG | cut -d- -f3)
- docker pull jmiahman/mageia-rpmbuilder-%{RPM_ARCH}
- export DID=$(docker image ls | grep -m1 mageia-rpmbuilder | awk '{print $3}')
- echo $DID
- docker run --privileged=true -e MOCK_CONFIG=${MOCK_CONFIG} -d -v "$(pwd):/rpmbuild" -v "/dev:/dev" $DID tail -f /dev/null
- export CID=$(docker ps -l | awk '{print $1}' | grep -v -m1 'CONTAINER')
- echo $CID
- docker exec $CID /bin/sh -c 'dnf -y install git' --privileged=true
- docker exec $CID /bin/sh -c 'cd /rpmbuild && export package_name=$(grep "Name:\|Version:" *.spec|cut -d":" -f2|sed "{:q;N;s/\n /-/g;t q}"|sed "s/ //g") && git archive master --prefix=${package_name}/|xz>${package_name}.tar.xz' --privileged=true
  #- docker exec $CID /bin/sh -c 'cd /rpmbuild && rpmbuild "--define" "_sourcedir /rpmbuild" "--define" "_topdir /rpmbuild" -bs *.spec' --privileged=true
- docker exec $CID /bin/sh -c 'cd /rpmbuild && rpmbuilder bs' --privileged=true
- find ./SRPMS/ -name *.src.rpm
after_success:
- scp -o StrictHostKeyChecking=no $(find ./${MOCK_CONFIG} -name "*.${RPM_ARCH}.rpm" -print|grep -v '.src.rpm') foobar2:rpm_staging/Unity-Linux/${RPM_ARCH}/
- scp -o StrictHostKeyChecking=no $(find ./${MOCK_CONFIG} -name "*.rpm" -print|grep 'src.rpm') foobar2:rpm_staging/Unity-Linux/src/
- ssh -o StrictHostKeyChecking=no foobar2 "sh ~/bin/down_copr ${RPM_ARCH}"
